<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.ExamMapper">
    <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.Exam">
        <id column="id" property="id" jdbcType="BIGINT" />
         <result column="name" property="name" jdbcType="VARCHAR" />     
    </resultMap>
    
    <sql id="Base_Column_List">
        id, name
    </sql>
    
    
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="Map">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from sj_tbl
        where 1=1
        <if test="name !=null and name != ''">
			and name=#{name}
		</if>	
		order by id desc
		<if test="m!=null and n!=null">
			Limit ${m},${n}
		</if>
    </select>
    
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List" />
        from sj_tbl
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sj_tbl
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    
    <update id="updateByPrimaryKeySelective" parameterType="com.eliteams.quick4j.web.model.Exam">   
        update sj_tbl
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
        
    
    <insert id="insert" parameterType="com.eliteams.quick4j.web.model.Exam" useGeneratedKeys="true" keyProperty="id">
        insert into sj_tbl (name)
        values (#{name,jdbcType=VARCHAR})
         <selectKey resultType="int" keyProperty="id" order="AFTER">select last_insert_id()</selectKey>  
    </insert>
    
    
    <select id="getRowCnts" resultType="int">
		SELECT
		FOUND_ROWS();
	</select>
</mapper>