

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>基于 layui 的极简社区页面模版</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../layuiadmin/style/global.css"
	media="all">
<style>
.layui-btn-sm {
	width: 30px;
	height: 24px;
}

.layui-input-block {
	margin-left: 30px;
	min-height: 36px;
	margin-top: 4px;
}

.tm-title {
	margin-top: 20px;
	font-size: 16px;
}
</style>
</head>
<body>

	<div class="fly-header layui-bg-black">
		<div class="layui-container">
			<a class="fly-logo" href="/"> <img src="../res/images/logo.png" alt="layui">
			</a>

			<ul class="layui-nav fly-nav-user">
				<!-- 未登入的状态 -->
				<li class="layui-nav-item"><a
					class="iconfont icon-touxiang layui-hide-xs" href="javascript:0#"></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="fly-panel fly-column">
		<!-- 
		<div class="layui-progress">
			<div class="layui-progress-bar" lay-percent="50%"></div>
		</div>
		 -->
		<div class="layui-container">
			<div class="fly-column-right layui-hide-xs">
				<button class="layui-btn layui-btn-danger"
					style="margin-right: 10px;">
					<i class="layui-icon">O</i>交&nbsp;&nbsp;卷
				</button>
				结束时间：<span id="examTime"></span>
			</div>
		</div>
	</div>

	<div class="layui-container">
		<div class="layui-row layui-col-space10">

			<div class="layui-col-md4" style="height: 470px;">
				<div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank"
					style="height: 450px;">
					<div class="layui-tab" style="margin: 0px 0px;">
						<ul class="layui-tab-title">
							<li class="layui-this">单选题</li>
							<li>多选题</li>
							<li>不定项</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div id="dxdiv" class="fly-panel-main fly-signin-main">
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">1</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">2</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">3</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">4</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">5</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">6</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">7</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">8</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">15</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">16</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">17</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">18</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">19</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">20</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">21</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">22</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">23</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">24</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">15</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">16</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">15</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">16</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">15</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">16</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<br>
								</div>
							</div>
							<div class="layui-tab-item">
								<div id="duoxdiv" class="fly-panel-main fly-signin-main">
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">1</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">2</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">3</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">4</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">5</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">6</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">7</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">8</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">15</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">16</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">17</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">18</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">19</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">20</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">21</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">22</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">23</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">24</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">15</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">16</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<br>
								</div>
							</div>
							<div class="layui-tab-item">
								<div id="bdxdiv" class="fly-panel-main fly-signin-main">
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">1</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">2</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">3</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">4</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">5</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">6</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">7</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">8</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">15</button>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="layui-col-md8" style="height: 410px;">
				<div class="fly-panel" style="height: 390px;">
					<div class="fly-panel-title fly-filter">
						<a>题目</a>
					</div>
					<form class="layui-form" action="">
						<div class="layui-input-block tm-title">
							<span id="tmxhSpan" class="layui-badge-rim">1.</span>
							<span id="tmTypeSpan" class="layui-badge-rim">单选题</span>
							<span id="tmtitle">关于刑法用语的解释,下列哪一选项是正确的？</span>
						</div>
						<div class="layui-input-block">
							<div>
								<span>A. </span>
								<span id="optionATitle" name="optionTitle">按照同类解释规则,对于刑法分则条文在列举具体要素后使用的“等”、“其他”用语,应按照所列举的内容、性质进行同类解释</span>
							</div>
						</div>
						<div class="layui-input-block">
							<div>
								<span>B. </span>
								<span id="optionBTitle" name="optionTitle">按照同类解释规则,对于刑法分则条文在列举具体要素后使用的“等”、“其他”用语,应按照所用的“等”、“其他”用语,应按照所列举的内容、性质进行同类解释</span>
							</div>
						</div>
						<div class="layui-input-block">
							<div>
								<span>C. </span>
								<span id="optionCTitle" name="optionTitle">按照同类解释规则,要素后使用的“等”、“其他”用语,应按照所列举的内容、性质进行同类解释</span>
							</div>
						</div>
						<div class="layui-input-block">
							<div>
								<span>D. </span>
								<span id="optionDTitle" name="optionTitle">按照同类解释规则,对于刑法分则条文在列举具体要素后使用的“等”、“其他”用语,应按照所列举的内容、性质进行同类解释</span>
							</div>
						</div>
						<div id="parse" style="display:none" class="layui-input-block">
							解析：<br> 正确答案：A<br>
							正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案
						</div>
						
						<div id="dxCheckDiv" style="display:none" class="layui-input-block">
							<input type="radio" name="xzoption" value="A" title="A">
							<input type="radio" name="xzoption" value="B" title="B">
							<input type="radio" name="xzoption" value="C" title="C">
							<input type="radio" name="xzoption" value="D" title="D">
						</div>
						<div id="duoxCheckDiv" class="layui-input-block">
							<input type="checkbox" name="xzoption" value="A" title="A">
							<input type="checkbox" name="xzoption" value="B" title="B">
							<input type="checkbox" name="xzoption" value="C" title="C">
							<input type="checkbox" name="xzoption" value="D" title="D">
						</div>
					</form>
				</div>
			</div>
			<br>
			<br>
			<div class="layui-col-md8" style="height: 60px;">
				<div class="fly-panel" style="height: 50px;" align="right">
					<button id="warmTm" class="layui-btn layui-btn-warm" style="margin: 6px;">
						<i class="layui-icon"></i>标记
					</button>
					<button id="upTm" class="layui-btn" style="margin: 6px;">
						<i class="layui-icon"></i>上一题
					</button>
					<button id="downTm" class="layui-btn" style="margin: 6px;">
						下一题<i class="layui-icon"></i>
					</button>
				</div>
			</div>

		</div>
	</div>


	<script src="../../layuiadmin/layui/layui.js"></script>
	<script>
		layui.config({
			base : '../layuiadmin/'
		}).extend({
			index : '../../views/student/index'
		}).use(['index'],function(){
			layui.cache.page = '';
			layui.cache.user = {
				username : '游客',
				uid : -1,
				avatar : '../res/images/avatar/00.jpg',
				experience : 83,
				sex : '男'
			};
		});
	</script>
</body>
</html>