

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>基于 layui 的极简社区页面模版</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../layuiadmin/style/global.css"
	media="all">
<style>
.layui-btn-sm {
	width: 30px;
	height: 24px;
}

.layui-input-block {
	margin-left: 30px;
	min-height: 36px;
	margin-top: 4px;
}

.tm-title {
	margin-top: 20px;
	font-size: 16px;
}
</style>
</head>
<body>

	<div class="fly-header layui-bg-black">
		<div class="layui-container">
			<a class="fly-logo" href="/"> <img alt="">
			</a>

			<ul class="layui-nav fly-nav-user">
				<!-- 未登入的状态 -->
				<li class="layui-nav-item"><a id="loginuserimg"
					class="iconfont icon-touxiang layui-hide-xs" href="javascript:0#" title=""></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="fly-panel fly-column">
		<div class="layui-container">
			<div class="fly-column-right layui-hide-xs">
				<button class="layui-btn layui-btn-danger"
					style="margin-right: 10px;">
					<i class="layui-icon">O</i>交&nbsp;&nbsp;卷
				</button>
				结束时间：<span id="examTime"></span>
			</div>
		</div>
	</div>

	<div class="layui-container">
		<div class="layui-row layui-col-space10">

			<div class="layui-col-md4" style="height: 500px;">
				<div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank"
					style="height: 480px;">
					<div class="layui-tab" style="margin: 0px 0px;">
						<ul class="layui-tab-title">
							<li class="layui-this">单选题</li>
							<li>多选题</li>
							<li>不定项</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div id="dxdiv" class="fly-panel-main fly-signin-main">
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">1</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_2"
										name="tm">2</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_3"
										name="tm">3</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_4"
										name="tm">4</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_5"
										name="tm">5</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_6"
										name="tm">6</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_7"
										name="tm">7</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_8"
										name="tm">8</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_9"
										name="tm">9</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_10"
										name="tm">10</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_11"
										name="tm">11</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_12"
										name="tm">12</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_13"
										name="tm">13</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_14"
										name="tm">14</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_15"
										name="tm">15</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_16"
										name="tm">16</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_17"
										name="tm">17</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_18"
										name="tm">18</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_19"
										name="tm">19</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_20"
										name="tm">20</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_21"
										name="tm">21</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_22"
										name="tm">22</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_23"
										name="tm">23</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_24"
										name="tm">24</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_25"
										name="tm">25</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_26"
										name="tm">26</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_27"
										name="tm">27</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_28"
										name="tm">28</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_29"
										name="tm">29</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_30"
										name="tm">30</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_31"
										name="tm">31</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_32"
										name="tm">32</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_33"
										name="tm">33</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_34"
										name="tm">34</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_35"
										name="tm">35</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_36"
										name="tm">36</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_37"
										name="tm">37</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_38"
										name="tm">38</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_39"
										name="tm">39</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_40"
										name="tm">40</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_41"
										name="tm">41</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_42"
										name="tm">42</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_43"
										name="tm">43</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_44"
										name="tm">44</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_45"
										name="tm">45</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_46"
										name="tm">46</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_47"
										name="tm">47</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">48</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">49</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">50</button>
									<br>
								</div>
							</div>
							<div class="layui-tab-item">
								<div id="duoxdiv" class="fly-panel-main fly-signin-main">
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">51</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">52</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">53</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">54</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">55</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">56</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">57</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">58</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">59</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">60</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">61</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">62</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">63</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">64</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">65</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">66</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">67</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">68</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">69</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">70</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">71</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">72</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">73</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">74</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">75</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">76</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">77</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">78</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">79</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">80</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">81</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">82</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">83</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">84</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">85</button>
									<br>
								</div>
							</div>
							<div class="layui-tab-item">
								<div id="bdxdiv" class="fly-panel-main fly-signin-main">
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">86</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">87</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">88</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">89</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">90</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">91</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">92</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">93</button>
									<br> <br>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">94</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">95</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">96</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">97</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">98</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">99</button>
									<button class="layui-btn layui-btn-sm layui-btn-blue" id="tm_1"
										name="tm">100</button>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="layui-col-md8" style="height: 440px;">
				<div class="fly-panel" style="height: 420px;">
					<div class="fly-panel-title fly-filter">
						<a>题目</a>
					</div>
					<form class="layui-form" action="">
						<div class="layui-input-block tm-title">
							<span id="tmxhSpan" class="layui-badge-rim"></span>
							<span id="tmTypeSpan" class="layui-badge-rim"></span>
							<span id="tmtitle"></span>
						</div>
						<div class="layui-input-block">
							<div>
								<span>A.</span>
								<span id="optionATitle" name="optionTitle"></span>
							</div>
						</div>
						<div class="layui-input-block">
							<div>
								<span>B.</span>
								<span id="optionBTitle" name="optionTitle"></span>
							</div>
						</div>
						<div class="layui-input-block">
							<div>
								<span>C.</span>
								<span id="optionCTitle" name="optionTitle"></span>
							</div>
						</div>
						<div class="layui-input-block">
							<div>
								<span>D.</span>
								<span id="optionDTitle" name="optionTitle"></span>
							</div>
						</div>
						<div id="parse" style="display:none" class="layui-input-block">
							解析：<br> 正确答案：A<br>
							正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案
						</div>
						
						<div id="dxCheckDiv" style="display:none" class="layui-input-block">
							<input type="radio" name="dxxzoption" lay-filter="dxxzoption" value="A" title="A">
							<input type="radio" name="dxxzoption" lay-filter="dxxzoption" value="B" title="B">
							<input type="radio" name="dxxzoption" lay-filter="dxxzoption" value="C" title="C">
							<input type="radio" name="dxxzoption" lay-filter="dxxzoption" value="D" title="D">
						</div>
						<div id="duoxCheckDiv" class="layui-input-block">
							<input type="checkbox" name="duoxxzoption" lay-filter="duoxxzoption" value="A" title="A">
							<input type="checkbox" name="duoxxzoption" lay-filter="duoxxzoption" value="B" title="B">
							<input type="checkbox" name="duoxxzoption" lay-filter="duoxxzoption" value="C" title="C">
							<input type="checkbox" name="duoxxzoption" lay-filter="duoxxzoption" value="D" title="D">
						</div>
					</form>
				</div>
			</div>
			<br>
			<br>
			<div class="layui-col-md8" style="height: 60px;">
				<div class="fly-panel" style="height: 50px;" align="right">
					<button id="warmTm" class="layui-btn layui-btn-warm" style="margin: 6px;">
						<i class="layui-icon"></i>标记
					</button>
					<button id="upTm" class="layui-btn" style="margin: 6px;">
						<i class="layui-icon"></i>上一题
					</button>
					<button id="downTm" class="layui-btn" style="margin: 6px;">
						下一题<i class="layui-icon"></i>
					</button>
				</div>
			</div>

		</div>
	</div>


	<script src="../../layuiadmin/layui/layui.js"></script>
	<script>
		layui.config({
			base : '../../layuiadmin/'
		}).extend({
			index: 'lib/index', //主入口模块
			studentIndex : '../../views/student/studentIndex'
		}).use(['index','studentIndex'],function(){
			var $ = layui.$;
			var setter = layui.setter;
			var loginUser = layui.data(setter.userInfo)[setter.userInfo];
			$("#loginuserimg").attr("title",loginUser.name)
		});
	</script>
</body>
</html>