<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>编码管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid layerCard">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-body">
				<!-- 这里id需要更换 -->
				<div id="toolbar" class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;" id="codeItem-toolbar">
					<!-- 如果存在特殊按钮，也可以在这里手动添加 -->
				</div>
				<!-- 这里id需要更换  lay-filter不可少，且必须和id一致 -->
				<table class="layui-hide" id="table-page" lay-filter="table-page"></table>
			</div>
		</div>
	</div>
	<!-- 这里id需要更换 -->
	<script type="text/html" id="operationBtn"></script>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
layui.config({
		base: '../../layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(['index','jquery','baseUtil','autotable'],function(){
		
		var autotable = layui.autotable;
		var baseUtil = layui.baseUtil;
		var admin = layui.admin;
		var table = layui.table;
		var $ = layui.$;
		
		var parentParam = baseUtil.getLayerParentParam();
		var options = {
			idCode : "mxbh",
			tableTitleUrl : layui.setter.base+"/json/code/codeItemlisthead.json",
			dataUrl : "/web/system?_service=/codeItem/getCodeItemList&bmbh="+parentParam.bmbh,
			//新增编辑页面
			editHtml : 'codeItemedit.html',
			//查看页面
			viewHtml : 'codeItemview.html',
			//删除Url
			delUrl : "/web/system?_service=/codeItem/deleteCodeItem&bmbh="+parentParam.bmbh
		};
		var codeItemlist = function(options){
			codeItemlist.superClass.constructor.apply(this, arguments);
		}
		baseUtil.extend(codeItemlist, autotable.tableClass);
		
		
		/**
		 * 添加弹窗
		 */
		 codeItemlist.prototype.addToolbar = function(data){
	    	var that = this;
	    	layer.open({
				type : 2,
				title : "添加",
				content : that.editHtml,
				maxmin : !0,
				area : admin.screen() < 2 ? ['60%', '95%'] : ['50%', '90%'],
				btn : [ "确定","取消" ],
				yes : function(index, layero) {
					var submit = layero.find('iframe').contents().find(".layerCard button[lay-submit]");
		            submit.trigger('click');
				},
				btn2 : function(index, layero){
					layer.close(index);
				},
				success : function(layero, index) {
					baseUtil.setLayerParam(layero,{bmbh:parentParam.bmbh});
				}
			});
		}
		
		//重写loadTable(),使弹窗中的table铺满弹窗
		autotable.loadTable = function(tableId,titleData,dataUrl) {
				var titleArr = new Array();
				titleArr.push(titleData);
				table.render({
					elem : "#"+tableId,//表格id
					url  : dataUrl,//列表数据连接
					cols : titleArr,//表头数据
					height: 'full-63',//页面自动调整满屏
					cellMinWidth: 80,
					page : true
				});
		}
		
		var codeItemlistObj = new codeItemlist(options);
  });
</script>
</body>
</html>
