<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户详情</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../layuiadmin/style/admin.css"
	media="all">
</head>
<body>
	<!-- 使用自动遍历赋值 需要：layerCard -->
	<div class="layui-card-body layerCard">
		<div class="layui-form-item">
			<label class="layui-form-label">帐号：</label>
			<div class="layui-input-inline layui-input-company" name="username"></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">姓名：</label>
			<div class="layui-input-inline layui-input-company" name="name"></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态：</label>
			<div class="layui-input-inline layui-input-company" name="state"></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户类型：</label>
			<div class="layui-input-inline layui-input-company" name="type"></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">创建时间：</label>
			<div class="layui-input-inline layui-input-company" name="createTime"></div>
		</div>
	</div>
</body>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','baseUtil','tableoperation'],function(){
	var baseUtil = layui.baseUtil;
	var tableoperation = layui.tableoperation;
	//设置参数
	var options = {
		operType : 'view',
		showDataUrl : "/houdaexam/rest/user/getUserByid"
	};
	//定义自己的对象
	var codeview = function(options){
		codeview.superClass.constructor.apply(this, arguments);
	}
	baseUtil.extend(codeview, tableoperation.showClass);


	//创建自己定义的对象
	var codeviewObj = new codeview(options);
  });
  </script>
</html>